body {
	font-family: sans-serif;
}
.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 35px 160px 35px 175px;
}
.menu {
	padding-top: 18px;
}
.menu__item {
	text-decoration: none;
	color: #000;
	font-size: 18px;
	padding-right: 25px;
}
